APP_NAME="CaeliView"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_PORT=8000
VITE_PORT=5173
FORWARD_DB_PORT=5432
FORWARD_REDIS_PORT=6379

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=caeli_view
DB_USERNAME=caeli_view
DB_PASSWORD=secret

CACHE_STORE=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

NASA_API_BASE_URL=https://api.nasa.gov
NASA_API_KEY=your-nasa-api-key-here
NASA_TIMEOUT_SECONDS=8
NASA_CACHE_TTL_SECONDS=21600
NASA_EPIC_CACHE_TTL_SECONDS=86400
NASA_APOD_CACHE_TTL_SECONDS=86400

JPL_API_BASE_URL=https://ssd-api.jpl.nasa.gov
JPL_TIMEOUT_SECONDS=10
JPL_CAD_CACHE_TTL_SECONDS=21600
JPL_SBDB_CACHE_TTL_SECONDS=86400
